# packages required to develop, build, and test btclib

# If your project uses README.rst, uncomment the following:
# readme_renderer

black
check-manifest
coverage
flake8
isort
mypy
pip
pylint
pytest > 6
pytest-cov
pytest-ordering
pytest-xdist
sphinx
tox
