# packages required to develop, build, and test btclib

autoflake
bandit
black
check-manifest
coverage
# flake8 6.x requires python>=3.8.1
flake8
isort
mypy
pip
pre-commit
pylint
pyroma
pytest
pytest-cov
pytest-xdist
pyupgrade
setuptools
# tox 4.x depends on importlib-metadata>=5.2
tox
twine
wheel
