name: Experimental

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  experimental:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        experimental: [true]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11-dev
      - name: Install requirements
        run: |
          pip install -U -r requirements-dev.txt
          pip install -U -r requirements.txt
      - name: Run Tox
        run: tox -e py
