name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: [3.7, 3.8, 3.9, 3.10]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install requirements
        run: |
          python -m pip install -U -r requirements-dev.txt
          python -m pip install -U -r requirements.txt
          python -m pip install coveralls
      - name: Run Tox
        # Run tox using the version of Python in `PATH`
        run: tox -e py
      - name: Coveralls
        run: coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ matrix.python }}-${{ matrix.os }}
          COVERALLS_PARALLEL: true

  finish:
    if: "github.repository == 'btclib-org/btclib'"
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Upload to coveralls.io
      run: |
        pip install coveralls
        coveralls --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
